services:
  database:
    image: postgres:18 
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - prilot-volume:/var/lib/postgresql
    ports:
      - ${DATABASE_PORT}:5432

volumes:
  prilot-volume:
